@charset "utf-8";
@use "../global" as *;

.kv {
  position: relative;
  max-width: 100%;
  .kv__title {
    color: $color_white;
    @include font_english;
    .kv__titleText {
      @include font_weight_bold;
      line-height: 1;
      @include fz(80);
      text-transform: uppercase;
      @include under_md {
        text-align: center;
      }
      @include md {
        @include fz(160);
      }
    }
    .kv__titleMessage {
      line-height: 1.2;
      @include fz(20);
      text-align: center;
      @include font_weight_medium;
      letter-spacing: 0.1em;
      @include under_md {
        margin-top: 10px;
      }
      @include md {
        @include fz(24);
        transform: translateX(15px);
      }
    }
  }
  .kv__inner {
    margin-top: $header_height_sp;
    height: calc(100vh - $header_height_sp);
    display: flex;
    align-items: center;
    justify-content: center;
    @include md {
      margin-top: $header_height;

      height: calc(100vh - $header_height);
    }
  }
  .kv__background {
    position: absolute;
    aspect-ratio: 1980/811;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    @include md {
      aspect-ratio: 1980/811;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      pointer-events: none;
      inset: 0;
    }
  }
}
.globalNavWrap {
  @include md {
    padding-right: 54px;
  }
}
.hamburgerWrap {
  position: relative;
  z-index: 10;
  @include md {
    display: none;
  }
}
.wrapper {
  padding: 35px 20px 60px;
  @include md {
    padding: 0px 40px 100px;
    max-width: calc(1110px + 40px + 40px);
    margin-inline: auto;
    overflow-x: hidden;
  }
}

.news {
  @include md {
    margin-top: 71px;
  }

  .news__inner {
    @include md {
      display: grid;
      grid-template-columns: 150px 1fr;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
    }
    @include lg {
      grid-template-columns: 252px 1fr;
      max-width: 1110px;
    }
  }
  .news__title {
    line-height: 1.2;
    font-weight: bold;
    @include fz(32);
    color: $color_primary;
    letter-spacing: 0.03em;
    text-align: left;

    @include md {
      @include fz(40);
      margin-top: 0px;
    }
  }
  .news__list {
    @include under_md {
      margin-top: 12px;
    }
  }
  .news__item {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
  }
  .news__link {
    display: block;
    transition: opacity 0.5s;
    padding-top: 12px;
    padding-bottom: 18px;
    @include md {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    @include hover {
      opacity: 0.7;
    }
  }
  .news__linkInner {
    @include md {
      display: grid;
      grid-template-columns: 115px 1fr;
    }
  }
  .news__heading {
    @include line_height(27, 15);
    @include font_weight_medium;
    @include fz(15);
    color: $color_text;
    @include line_clamp(3);
    @include under_md {
      margin-top: -7px;
    }
  }
  .news__datetime {
    display: block;
    @include line_height(27, 15);
    @include font_weight_medium;
    @include fz(15);
    color: $color_text;
    @include font_english;
    @include md {
      letter-spacing: 0.05em;
    }
  }
  .news__linkWrap {
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    @include line_clamp_single;
    @include md {
      max-width: 220px;
      margin-top: 31px;
    }
    &:focus-visible {
      outline: 1px;
    }
  }
}
.service {
  position: relative;
  margin-top: 58px;
  &::before {
    content: "SERVICE";
    position: absolute;
    z-index: -1;
    @include font_weight_bold;
    @include line_height(70, 70);
    @include fz(70);
    @include font_english;
    color: #f2f2f2;
    top: 8px;
    right: -18px;
    letter-spacing: 0.03em;
    @include md {
      @include line_height(168, 168);
      @include fz(168);
      top: 0;
      right: -15px;
    }
  }
  @include md {
    margin-top: 50px;
  }
  .service__inner {
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    @include md {
      display: grid;
      grid-template-columns: 150px 1fr;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
    }
    @include lg {
      grid-template-columns: 252px 1fr;
      max-width: 1110px;
    }
  }
  .service__title {
    line-height: 1.2;
    font-weight: bold;
    @include fz(32);
    color: $color_primary;
    margin-top: 20px;
    text-transform: capitalize;
    letter-spacing: 0.03em;
    text-align: left;
    @include md {
      @include fz(40);
      margin-top: 25px;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  }
  .service__list {
    margin-top: 23px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    row-gap: 20px;
    @include md {
      max-width: 1110px;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 30px;
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      margin-top: 57px;
    }
  }
  .service__item {
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.16);
    padding: 40px 30px 36px;
    background-color: $color_white;
    @include md {
      padding: 50px;
    }
  }

  .service__imgWrap {
    width: 60px;
    aspect-ratio: 1/1;
    margin-left: auto;
    margin-right: auto;
    @include md {
      width: 48px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .service__heading {
    @include font_weight_bold;
    line-height: 1.2;
    @include fz(16);
    text-align: center;
    margin-top: 7px;
    @include md {
      margin-top: 6px;
      @include fz(18);
    }
  }
  .service__text {
    @include font_weight_medium;
    @include line_height(25, 15);
    @include fz(15);
    margin-top: 6px;
    @include md {
      @include line_height(23.8, 14);
      @include fz(14);
      letter-spacing: 0.04em;
    }
  }
}
