---
import AppLayout from "../../layouts/App.astro";
import "@/assets/styles/pages/company/_index.scss";
import Heading from "../../components/Heading.astro";
import ListDl from "../../components/ListDl.astro";
import ArticleList from "../../components/ArticleList.astro";

const meta = {
  title: "ページ名 | サイト名",
  description: "descriptiondescriptiondescriptiondescriptiondescription",
  "og:title": "ページ名 | サイト名",
  "og:description": "descriptiondescriptiondescriptiondescriptiondescription",
  "og:image": "https://placehold.jp/150x150.png",
};
const listItem = [
  {
    title: "社名",
    description: "株式会社START",
  },
  {
    title: "設立",
    description: "2025.02.10",
  },
  {
    title: "代表取締役",
    description: "ショーン・デイビット・ジュニア",
  },
  {
    title: "資本金",
    description: "10,000,000円",
  },
  {
    title: "所在地",
    description: "〒555-5555 東京都千代田区 スタートビルディング 606",
  },
];
const newsList = [
  {
    title: "コーポレートサイトをリニューアルしました。",
    date: "2030-02-10",
    path: "",
  },
  {
    title: "採用を強化中です！一緒に働きませんか？",
    date: "2030-02-08",
    path: "",
  },
  {
    title:
      "人材紹介SNS『スタート』をリリースしました。3/31まで新規登録キャンペーンを開催中です！サービス内で使える500ポイントをプレゼント！",
    date: "2030-02-02",
    path: "",
  },
];
---

<AppLayout {meta}>
  <Heading text="会社概要" />
  <div class="wrapper">
    <section class="company">
      <div class="company__inner">
        <div class="company__listDlWrap">
          <ListDl item={listItem} />
        </div>
        <div class="company__mapWrap">
          <div class="company__map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25924.778293210948!2d139.73577960267002!3d35.68691680238676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c0c0b13f54d%3A0xb630953beee48188!2z5p2x5Lqs6YO95Y2D5Luj55Sw5Yy6!5e0!3m2!1sja!2sjp!4v1698624224855!5m2!1sja!2sjp"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <a
            class="company__mapLink"
            href="https://maps.app.goo.gl/idWdTGuVeodCi5Bg7"
            target="_blank">Google mapで見る</a
          >
        </div>
        <div class="news__listWrap">
          <ArticleList articleList={newsList} />
        </div>
      </div>
    </section>
  </div>
</AppLayout>
