@charset "utf-8";
@use "../../global" as *;
.company {
  .company__inner {
  }
  .company__listDlWrap {
    margin-top: 10px;
  }

  .company__textWrap {
    @include line_height(22.5, 15);
    @include fz(15);
    letter-spacing: 0.05em;
    margin-top: 32px;
    @include md {
      @include line_height(25.6, 16);
      @include fz(16);
      max-width: 795px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }
  }
}
.company__mapWrap {
  margin-top: 48px;
  text-align: right;
  @include md {
    margin-top: 50px;
  }
}

.company__map {
  width: 100%;
  aspect-ratio: 335/300;
  float: none;
  clear: left;
  @include md {
    aspect-ratio: 1110/440;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
  iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
.company__mapLink {
  display: inline-block;
  padding-top: 10px;
  color: $color_light_blue;
  position: relative;
  text-decoration: underline;
  transition: opacity 0.25s;
  @include font_weight_medium;
  @include line_height(27, 12);
  @include fz(12);
  @include md {
    @include fz(15);
  }
  @include hover {
    opacity: 0.5;
  }
}
.news__listWrap {
  margin-top: 28px;
}
.globalNavWrap {
  @include md {
    padding-right: 54px;
  }
}
.hamburgerWrap {
  position: relative;
  z-index: 10;
  @include md {
    display: none;
  }
}
.wrapper {
  padding: 23px 20px 46px;
  @include md {
    padding: 50px 40px 100px;
    max-width: calc(1110px + 40px + 40px);
    margin-inline: auto;
    overflow-x: hidden;
  }
}
