@charset "utf-8";
@use "../global" as *;
.l-footer {
  height: $footer_height_sp;
  background-color: $color_primary;
  @include md {
    height: $footer_height;
  }
  .l-footer__inner {
    padding: 34px 20px 29px;
    height: 100%;
    @include md {
      padding: 56px 20px 50px;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
    }
    @include lg {
      max-width: calc(1110px + 40px);
    }
  }
  .l-footer__linkList {
    display: flex;
    column-gap: 25px;
    @include md {
      column-gap: 40px;
    }
    .l-footer__linkItem {
      a {
        @include font_weight_bold;
        @include fz(12);
        line-height: 1.2;
        letter-spacing: 0.05em;
        color: $color_white;
        @include md {
          @include fz(14);
        }
      }
    }
  }
  .l-header__copyright {
    @include font_weight_bold;
    @include fz(13);
    line-height: 1.2;
    color: $color_gray;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color_white;
    text-align: left;

    @include md {
      margin-top: 20px;
      @include font_weight_bold;
      @include fz(12);
    }
  }
}
