@charset "utf-8";
@use "../global" as *;
.l-footer {
  height: $footer_height_sp;
  background-color: $color_primary;
  @include md {
    height: $footer_height;
  }
  .l-footer__inner {
    padding: 20px;
    height: 100%;
  }
  .l-footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-direction: column;
    @include md {
      margin-top: 50px;
    }
  }
  .l-footer__logoLink {
    width: fit-content;
    display: block;
    cursor: pointer;
    svg {
      display: block;
      width: 100px;
      @include md {
        width: 180px;
        height: auto;
      }
    }
  }
  .l-header__copyright {
    line-height: 1.2;
    font-weight: 400;
    font-size: 10px;
    color: $color_gray;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 0.05em;
    @include md {
      margin-top: 20px;
      font-size: 12px;
    }
  }
}
