@charset "utf-8";
@use "../global" as *;

.l-globalNav {
  .l-globalNav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include md {
      column-gap: 30px;
    }
  }
  .l-globalNav__link {
    display: none;
    @include md {
      display: block;
      line-height: 1.2;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.1em;
      color: $color_text;
      &._current {
        color: $color_primary;
      }
    }
    transition: opacity 0.25s;
    @include hover {
      opacity: 0.5;
    }
  }
}
