---
import AppLayout from "../layouts/App.astro";
import "@/assets/styles/pages/_index.scss";
import Link from "../components/Link.astro";

const meta = {
  title: "ページ名 | サイト名",
  description: "descriptiondescriptiondescriptiondescriptiondescription",
  "og:title": "ページ名 | サイト名",
  "og:description": "descriptiondescriptiondescriptiondescriptiondescription",
  "og:image": "https://placehold.jp/150x150.png",
};
---

<AppLayout {meta}>
  <div class="kv">
    <div class="kv__inner">
      <div class="kv__title">
        <h1 class="kv__titleText">start</h1>
        <p class="kv__titleMessage">仕事に最高のスタートを。</p>
      </div>
    </div>
    <div class="kv__background">
      <picture>
        <source
          srcset="/src/assets/img/pc_bg_mv.webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="/src/assets/img/pc_bg_mv.jpg"
          media="(min-width: 768px)"
        />
        <source srcset="/src/assets/img/sp_mv.webp" type="image/webp" />
        <img
          src="/src/assets/img/sp_mv.jpg"
          alt="KV"
          width="375"
          height="340"
          decoding="async"
          loading="eager"
        />
      </picture>
    </div>
  </div>

  <div class="wrapper">
    <section class="news">
      <div class="news__inner">
        <h2 class="news__title">news</h2>
        <ul class="news__list">
          <li class="news__item">
            <a class="news__link" href="">
              <div class="news__linkInner">
                <time class="news__datetime" datetime="2030-08-08"
                  >2023.02.10</time
                >
                <h3 class="news__heading">
                  コーポレートサイトをリニューアルしました。
                </h3>
              </div>
            </a>
          </li>
          <li class="news__item">
            <a class="news__link" href="">
              <div class="news__linkInner">
                <time class="news__datetime" datetime="2030-08-08"
                  >2023.02.10</time
                >
                <h3 class="news__heading">
                  コーポレートサイトをリニューアルしました。
                </h3>
              </div>
            </a>
          </li>
          <li class="news__item">
            <a class="news__link" href="">
              <div class="news__linkInner">
                <time class="news__datetime" datetime="2030-08-08"
                  >2023.02.10</time
                >
                <h3 class="news__heading">
                  コーポレートサイトをリニューアルしました。
                </h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="service">
      <h2 class="service__title">service</h2>
      <p class="service__subTitle">service</p>
      <ul class="service__list">
        <li class="service__item">
          <a class="service__link" href="">
            <div class="service__linkInner">
              <div class="service__imgWrap">
                <picture>
                  <source
                    src="https://placehold.jp/335x172.png"
                    type="image/webp"
                  />
                  <img
                    class="service__img"
                    src="https://placehold.jp/335x172.png"
                    alt="hoge"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="service__textWrap">
                <h3 class="service__heading">hogehogehoge</h3>
                <time class="service__datetime" datetime="2030-08-08"
                  >2030.08.08</time
                >
              </div>
            </div>
          </a>
        </li>
        <li class="service__item">
          <a class="service__link" href="">
            <div class="service__linkInner">
              <div class="service__imgWrap">
                <picture>
                  <source
                    src="https://placehold.jp/335x172.png"
                    type="image/webp"
                  />
                  <img
                    class="service__img"
                    src="https://placehold.jp/335x172.png"
                    alt="hoge"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="service__textWrap">
                <h3 class="service__heading">hogehogehoge</h3>
                <time class="service__datetime" datetime="2030-08-05"
                  >2030.08.05</time
                >
              </div>
            </div>
          </a>
        </li>
        <li class="service__item">
          <a class="service__link" href="">
            <div class="service__linkInner">
              <div class="service__imgWrap">
                <picture>
                  <source
                    src="https://placehold.jp/335x172.png"
                    type="image/webp"
                  />
                  <img
                    class="service__img"
                    src="https://placehold.jp/335x172.png"
                    alt="hogehogehoge"
                    width="335"
                    height="172"
                    decoding="async"
                    loading="lazy"
                  />
                </picture>
              </div>
              <div class="service__textWrap">
                <h3 class="service__heading">hogehogehoge</h3>
                <time class="service__datetime" datetime="2030-08-02
								"
                  >2030.08.02
                </time>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</AppLayout>
