---
import AppLayout from "../layouts/App.astro";
import "@/assets/styles/pages/_index.scss";
import ArticleList from "../components/ArticleList.astro";

const meta = {
  title: "ページ名 | サイト名",
  description: "descriptiondescriptiondescriptiondescriptiondescription",
  "og:title": "ページ名 | サイト名",
  "og:description": "descriptiondescriptiondescriptiondescriptiondescription",
  "og:image": "https://placehold.jp/150x150.png",
};

const newsList = [
  {
    title: "コーポレートサイトをリニューアルしました。",
    date: "2030-02-10",
    path: "",
  },
  {
    title: "採用を強化中です！一緒に働きませんか？",
    date: "2030-02-08",
    path: "",
  },
  {
    title:
      "人材紹介SNS『スタート』をリリースしました。3/31まで新規登録キャンペーンを開催中です！サービス内で使える500ポイントをプレゼント！",
    date: "2030-02-02",
    path: "",
  },
];
---

<AppLayout {meta}>
  <div class="kv">
    <div class="kv__inner">
      <div class="kv__title">
        <h1 class="kv__titleText">start</h1>
        <p class="kv__titleMessage">仕事に最高のスタートを。</p>
      </div>
    </div>
    <div class="kv__background">
      <picture>
        <source
          srcset="/src/assets/img/pc_bg_mv.webp"
          type="image/webp"
          media="(min-width: 768px)"
        />
        <source
          srcset="/src/assets/img/pc_bg_mv.jpg"
          media="(min-width: 768px)"
        />
        <source srcset="/src/assets/img/sp_mv.webp" type="image/webp" />
        <img
          src="/src/assets/img/sp_mv.jpg"
          alt="KV"
          width="375"
          height="340"
          decoding="async"
          loading="eager"
        />
      </picture>
    </div>
  </div>

  <div class="wrapper">
    <section class="news">
      <div class="news__inner">
        <h2 class="news__title">ニュース</h2>
        <div class="news__listWrap">
          <ArticleList articleList={newsList} />
        </div>
      </div>
    </section>
    <section class="service">
      <div class="service__inner">
        <h2 class="service__title">サービス</h2>
        <ul class="service__list">
          <li class="service__item">
            <div class="service__imgWrap">
              <img
                src="/src/assets/img/icon_work.svg"
                alt="鞄のアイコン"
                width="60"
                height="60"
                decoding="async"
                loading="lazy"
              />
            </div>
            <div class="service__textWrap">
              <h3 class="service__heading">人材紹介業</h3>
              <p class="service__text">
                新規サイトの制作はもちろんサイトリニューアルやランディングページの制作も可能です。
              </p>
            </div>
          </li>
          <li class="service__item">
            <div class="service__imgWrap">
              <img
                src="/src/assets/img/icon_building.svg"
                alt="都会tokaiのアイコン"
                width="60"
                height="60"
                decoding="async"
                loading="lazy"
              />
            </div>
            <div class="service__textWrap">
              <h3 class="service__heading">スクール事業</h3>
              <p class="service__text">
                オンラインでWeb制作を学べるスクールを運営しています。
              </p>
            </div>
          </li>
          <li class="service__item">
            <div class="service__imgWrap">
              <img
                src="/src/assets/img/icon_desktop.svg"
                alt="パソコンのアイコン"
                width="60"
                height="60"
                decoding="async"
                loading="lazy"
              />
            </div>
            <div class="service__textWrap">
              <h3 class="service__heading">Webメディア運営</h3>
              <p class="service__text">
                人事系メディアやWebデザイン関連のメディアなどを複数運営しています。
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</AppLayout>
