---
type Article = {
  title: string;
  date: string; //YYYY-MM-DD
  path: string;
};

type Props = {
  articleList: Array<Article>;
};

const { articleList, ...props } = Astro.props;
---

<ul class="c-articleList">
  {
    articleList.map(({ title, date, path }) => (
      <li class="c-articleList__item">
        <a class="c-articleList__link" href={path}>
          <div class="c-articleList__linkInner">
            <time class="c-articleList__dateTime" datetime={date}>
              {date.replaceAll("-", ".")}
            </time>
            <h3 class="c-articleList__heading">{title}</h3>
          </div>
        </a>
      </li>
    ))
  }
</ul>
