---
type Props = {
  text: string;
};

const { text, ...props } = Astro.props;
---

<div class="l-heading">
  <div class="l-heading__inner">
    <div class="l-heading__title">
      <h1 class="l-heading__titleText">{text}</h1>
    </div>
  </div>
  <div class="l-heading__background">
    <picture>
      <source
        srcset="/src/assets/img/pc_bg_mv.webp"
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="/src/assets/img/pc_bg_mv.jpg"
        media="(min-width: 768px)"
      />
      <source srcset="/src/assets/img/sp_mv.webp" type="image/webp" />
      <img
        src="/src/assets/img/sp_mv.jpg"
        alt="l-heading"
        width="375"
        height="340"
        decoding="async"
        loading="eager"
      />
    </picture>
  </div>
</div>
