@charset "utf-8";

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$base_font_size: 16;

$color_primary: #dd1b57;
$color_text: #151515;
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #8b8b8b;
$color_light_blue: #349bf4;
$color_light_gray: #e8e8e8;
$header_height: 90px;
$header_height_sp: 60px;
$footer_height_sp: 119px;
$footer_height: 164px;
