---
import "@/assets/styles/style.scss";
import Logo from "@/components/Logo.astro";
---

<footer class="l-footer">
  <div class="l-footer__inner">
    <ul class="l-footer__linkList">
      <li class="l-footer__linkItem">
        <a href="#">ホーム</a>
      </li>
      <li class="l-footer__linkItem">
        <a href="/message">メッセージ</a>
      </li>
      <li class="l-footer__linkItem">
        <a href="#">会社概要</a>
      </li>
    </ul>
    <p class="l-header__copyright">©start</p>
  </div>
</footer>
