---
import "@/assets/styles/style.scss";
import Logo from "@/components/Logo.astro";
---

<footer class="l-footer">
  <div class="l-footer__inner">
    <div class="l-footer__logo" title="トップページへ戻る">
      <a href="/" class="l-footer__logoLink">
        <Logo color="#fff" width="100" height="40" />
      </a>
      <p class="l-header__copyright">©hoge hoge</p>
    </div>
  </div>
</footer>
