---
import type { HTMLAttributes } from "astro/types";

type NavItem = {
  name: string;
  path: string;
};

type Props = HTMLAttributes<"nav"> & {
  nav: Array<NavItem>;
};

const { nav, ...props } = Astro.props;
---

<nav class="l-globalNav js-hamburger-menu" {...props}>
  <div class="l-globalNav__inner">
    <ul class="l-globalNav__list">
      {
        nav.map(({ name, path }) => (
          <li class="l-globalNav__item">
            <a href={path} class="l-globalNav__link js-navLink">
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const links = document.querySelectorAll(".js-navLink");
    const path = location.pathname;
    console.log("path", path);
    links.forEach((link) => {
      console.log(link.getAttribute("href"));

      if (link.getAttribute("href") === path) {
        link.classList.add("_current");
      }
    });
  });
</script>
